* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background-color: #efefef;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.wrapper {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.error {
  background-color: #f7d3ab;
  padding: 10px;
  text-align: center;
  margin: 2rem auto;
  border: #bd8320 thin solid;
}

.success {
  background-color: #cde5c8;
  padding: 10px;
  text-align: center;
  margin: 2rem auto;
  border: #bd8320 thin solid;
}

.cow-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.cow-container img {
  width: 300px;
}

.cow-container h1 {
  max-width: 300px;
  text-align: center;
  font-size: 1.5rem;
}

nav {
  background-color: #c6d9de;
  height: 90px;
}

@media (min-width: 992px) {
  nav {
    height: 120px;
  }
}

nav .logo-container {
  position: relative;
}

nav .logo-container .logo {
  background-image: url("../../images/logo.svg");
  background-repeat: no-repeat;
  width: 90px;
  height: 36px;
  z-index: 1;
  top: 35px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

@media (min-width: 992px) {
  nav .logo-container .logo {
    left: 26px;
    right: auto;
    width: 110px;
    height: 42px;
    top: 42px;
  }
}

nav .logo-container .logo-background {
  background-image: url("../../images/logo_background.svg");
  background-repeat: no-repeat;
  width: 130px;
  height: 132px;
  top: -8px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

@media (min-width: 992px) {
  nav .logo-container .logo-background {
    left: auto;
    right: auto;
    width: 140px;
    height: 143px;
    top: 15px;
  }
}

nav .hamburger-container {
  position: relative;
}

nav .hamburger-container .sidebar-nav-toggle {
  font-size: 1.6rem;
  z-index: 2;
  position: absolute;
  top: 20px;
  transition: all 0.5s ease;
}

nav .hamburger-container .sidebar-nav-toggle.btn:focus {
  box-shadow: none;
}

nav .nav-links-top-right {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

nav .nav-links-top-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav .nav-links-top-right a {
  position: relative;
  z-index: 2;
  color: #000000;
  top: 25px;
  padding: 0.5rem 0.5rem;
}

nav .nav-links-top-right a i {
  font-size: 1.4rem;
}

nav .nav-links-top-right a:hover {
  scale: 1.1;
  color: #000000;
}

@media (min-width: 576px) {
  nav .nav-links-top-right a {
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 992px) {
  nav .nav-links-top-right a {
    padding-top: 0.5rem, 1.5rem;
  }
}

nav .nav-links-top-right .input-group {
  width: 200px;
  margin: 2.5rem 1rem 0 0;
}

.sidebar-nav-container {
  z-index: 1;
  position: absolute;
  width: 0;
  overflow-y: hidden;
  background: #fbaf2a;
  opacity: 0;
  display: flex;
  padding-top: 5rem;
  top: 0;
  transition: all 0.5s ease;
}

.sidebar-nav-items {
  border-top: 1px solid #bd8320;
  display: flex;
  width: 100%;
  margin-top: 2rem;
  padding-top: 1rem;
  flex-direction: column;
  overflow: hidden;
}

@media (min-width: 992px) {
  .sidebar-nav-items {
    height: 370px;
  }
}

.sidebar-nav-links {
  padding: 0;
  list-style: none;
  width: 300px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  max-height: 190px;
  margin-bottom: 2rem;
}

.sidebar-nav-links .fa-chevron-right::before {
  margin-right: 0.5rem;
}

.sidebar-nav-links li {
  line-height: 30px;
  transition: all 0.3s;
  padding: 10px;
  text-align: left;
  white-space: nowrap;
  display: block;
  width: 120px;
}

.sidebar-nav-links .nav-link {
  display: block;
  text-decoration: none;
  color: #000000;
  padding-left: 0;
}

.sidebar-nav-links .nav-link:hover {
  scale: 1.05;
  color: #000000;
}

.social-media-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.social-media-wrapper p {
  margin-top: 1rem;
}

.social-media-wrapper .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  margin-bottom: 0;
  padding: 1rem;
}

.social-media-wrapper .social-media li {
  display: flex;
  list-style: none;
  white-space: nowrap;
  font-size: 0.8rem;
}

.social-media-wrapper .social-media li:hover {
  cursor: pointer;
  scale: 1.1;
}

.social-media-wrapper .social-media a {
  color: #000000;
  text-decoration: none;
  margin: 1rem;
  font-size: 1.5rem;
}

.input-group {
  max-width: 85%;
  margin-bottom: 2rem;
}

.input-group .fa-search {
  position: absolute;
  right: 10px;
  top: 11px;
  z-index: 4;
}

.sidebar-nav-wrapper.show .sidebar-nav-container {
  width: 100%;
  opacity: 1;
  transition: all 0.5s ease;
}

h1,
h2 {
  font-family: "Roboto Slab", serif;
}

.btn-primary, .home .to-productsite-container .to-products-wrap a {
  background-color: #c9868e;
  background-color: #000000;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  max-width: 200px;
}

.btn-primary:hover, .home .to-productsite-container .to-products-wrap a:hover {
  background-color: #82b447;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #c6d9de;
  height: 100px;
  width: 100%;
  flex-shrink: 0;
}

footer .footer-container {
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

footer .nav-item {
  list-style: none;
}

footer a.nav-link {
  color: #000000;
}

footer a.nav-link:hover {
  color: #000000;
  scale: 1.05;
}

footer .logo-container-footer {
  position: relative;
}

footer .logo-container-footer .logo-footer {
  background-image: url("../../images/logo.svg");
  background-repeat: no-repeat;
  width: 90px;
  height: 36px;
}

.home .hero-banner-container {
  text-align: center;
  padding: 0;
  position: relative;
  background-color: #5187a9;
}

.home .hero-banner-container .hero-banner {
  max-width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: 50%;
  position: relative;
}

.home .hero-banner-container .hero-banner__logo {
  width: 140px;
}

@media (min-width: 992px) {
  .home .hero-banner-container .hero-banner__logo {
    width: 160px;
  }
}

@media (min-width: 992px) {
  .home .hero-banner-container .hero-banner__arrow {
    background: url("../../images/arrow.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 120px;
  }
}

.home .hero-banner-container .hero-banner__text {
  position: absolute;
  color: white;
  text-align: left;
  top: 8%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .home .hero-banner-container .hero-banner__text {
    top: 6%;
    left: -4rem;
  }
}

.home .hero-banner-container .hero-banner__text p {
  font-size: 1.5rem;
  line-height: 1.2;
  max-width: 190px;
  margin: 0;
}

@media (min-width: 992px) {
  .home .hero-banner-container .hero-banner__text p {
    font-size: 1.9rem;
    max-width: 220px;
  }
}

.home .hero-banner-container .hero-banner__text-split {
  border: solid thin #fbaf2a;
  height: 52px;
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 992px) {
  .home .hero-banner-container .hero-banner__text-split {
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 992px) {
  .home .hero-banner-container .hero-banner {
    height: unset;
  }
}

@media (min-width: 1200px) {
  .home .hero-banner-container .hero-banner {
    object-position: unset;
  }
}

.home .line {
  border-bottom: #bd8320 thin solid;
  width: 35%;
  margin: 3rem auto 0 auto;
}

@media (min-width: 992px) {
  .home .line {
    display: none;
  }
}

@media (min-width: 992px) {
  .home .cow-container {
    display: none;
  }
}

.home .filter-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 0rem auto;
}

.home .filter-btns input {
  margin: 10px;
  border-radius: 50px;
  padding: 5px 15px;
  color: #000000;
}

.home .filter-btns input:focus, .home .filter-btns input:hover {
  box-shadow: none;
  color: #000000;
}

.home .filter-btns .featured-btn {
  background-color: #fbaf2a;
  border-color: transparent;
}

.home .filter-btns .new-btn {
  opacity: 0.7;
  filter: alpha(opacity=70);
  background-color: transparent;
  border-color: transparent;
  font-weight: 400;
}

@media (min-width: 992px) {
  .home .filter-btns {
    justify-content: start;
    margin: unset;
  }
}

.home .search-featured {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 992px) {
  .home .search-featured {
    margin-top: 2rem;
  }
}

.home .search-featured .input-group {
  width: 300px;
  margin-right: 1rem;
  margin-bottom: 0;
}

.home .search-featured .input-group .fa-search {
  position: absolute;
  right: 10px;
  top: 11px;
  z-index: 4;
}

.home .featured-products-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.home .featured-products-wrapper a {
  text-decoration: none;
  color: #000000;
}

.home .featured-products-wrapper a:hover {
  scale: 1.01;
}

.home .featured-products-wrapper .featured-main-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1rem;
  flex-wrap: wrap;
  padding: 0 10px;
}

.home .featured-products-wrapper .card {
  padding: 0;
}

.home .featured-products-wrapper .card-price {
  font-weight: 600;
  background-color: #eae7e7;
  padding: 3px 10px;
}

.home .featured-products-wrapper .card-title {
  max-width: 120px;
  font-size: 1.3rem;
}

.home .featured-products-wrapper .card-title span {
  font-weight: 600;
  font-size: 1.8rem;
}

.home .featured-products-wrapper .card img {
  height: 280px;
  object-fit: cover;
}

.home .benefits-container {
  margin-bottom: 2rem;
  margin-top: 0rem;
}

@media (min-width: 992px) {
  .home .benefits-container {
    margin-top: 3rem;
  }
}

@media (min-width: 992px) {
  .home .benefits-container .benefits_list_container {
    padding-right: 12px;
  }
}

.home .benefits-container h2 {
  width: 218px;
  padding-bottom: 1rem;
  border-bottom: #bd8320 thin solid;
  padding-left: 0;
}

@media (min-width: 576px) {
  .home .benefits-container h2 {
    margin-left: 1rem;
  }
}

@media (min-width: 992px) {
  .home .benefits-container h2 {
    margin-left: 0rem;
    width: 220px;
  }
}

.home .benefits-container .list-group-flush .list-group-item {
  border-width: 0;
  background-color: transparent;
  align-items: baseline;
  padding-left: 0;
  max-width: 295px;
}

.home .benefits-container .list-group-flush .list-group-item .fa-check-circle {
  margin-right: 10px;
  color: #82b447;
}

.home .benefits-container article a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: #bd8320 2px solid;
}

.home .benefits-container figure {
  margin-top: 2rem;
}

@media (min-width: 992px) {
  .home .benefits-container figure {
    margin-top: 0;
  }
}

.home .benefits-container figure img {
  width: 100%;
  height: 340px;
  object-fit: cover;
}

@media (min-width: 992px) {
  .home .benefits-container figure img {
    height: 300px;
  }
}

.home .benefits-container figure figcaption {
  margin: 1rem auto;
}

.home .to-productsite-container {
  height: 320px;
  position: relative;
}

@media (min-width: 992px) {
  .home .to-productsite-container {
    height: 380px;
  }
}

@media (min-width: 1200px) {
  .home .to-productsite-container {
    height: 450px;
  }
}

.home .to-productsite-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 17%;
}

@media (min-width: 768px) {
  .home .to-productsite-container img {
    object-position: 0%;
  }
}

.home .to-productsite-container h2 {
  width: 180px;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .home .to-productsite-container h2 {
    width: 210px;
  }
}

.home .to-productsite-container .to-products-wrap {
  position: absolute;
  top: 28%;
  left: 10%;
}

@media (min-width: 992px) {
  .home .to-productsite-container .to-products-wrap {
    top: 30%;
  }
}

@media (min-width: 1200px) {
  .home .to-productsite-container .to-products-wrap {
    top: 32%;
  }
}

.home .social-media-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-top: 2rem;
  margin: 0 auto 4rem auto;
}

.home .social-media-bottom li a {
  color: #000000;
  margin: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .social-media-bottom li a:hover {
  scale: 1.05;
}

.home .social-media-bottom li a i {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.home .to-top-container {
  position: relative;
  margin: 2rem auto 4rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.home .to-top-container:hover, .home .to-top-container:focus {
  scale: 1.05;
}

.home .to-top-container .splat {
  background-image: url("../../images/splat.svg");
  background-repeat: no-repeat;
  width: 132px;
  height: 130px;
  position: relative;
}

.home .to-top-container .to-top-btn {
  position: absolute;
  top: 34%;
  right: 0;
  left: 0;
  margin: auto;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  max-width: 79px;
  text-align: center;
  line-height: 1.3;
  font-size: 1.2rem;
}

.login .login-form {
  margin-bottom: 5rem;
  max-width: 400px;
}

.login .cow-container {
  margin-top: 3rem;
}

.login .btn-primary, .login .home .to-productsite-container .to-products-wrap a, .home .to-productsite-container .to-products-wrap .login a {
  margin-top: 2rem;
}

.login .wrap-warning {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.add-heading {
  margin-top: 3rem;
}

.image-container {
  opacity: 1;
}

.add-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

.upload-img-wrap {
  width: 300px;
  margin-top: 2rem;
  background-color: black;
}

.upload-img-wrap img {
  height: 400px;
  width: 300px;
  object-fit: cover;
}

.cloudinary-button {
  background-color: #76a9c6;
  padding: 5px 10px;
  box-shadow: none;
  margin-left: 2rem;
}
/*# sourceMappingURL=style.css.map */