* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  flex: 1 0 auto;
}

.flex-container, nav .social-media-wrapper, .cow-container, .filter-btns, .featured-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute-center, nav .logo-container .logo, nav .logo-container .logo-background {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

nav {
  background-color: #c6d9de;
  height: 90px;
}

nav .logo-container {
  position: relative;
}

nav .logo-container .logo {
  background-image: url("../../images/logo.svg");
  background-repeat: no-repeat;
  width: 90px;
  height: 36px;
  z-index: 1;
  top: 35px;
}

nav .logo-container .logo-background {
  background-image: url("../../images/logo_background.svg");
  background-repeat: no-repeat;
  width: 130px;
  height: 132px;
  top: -8px;
}

nav .sidebar-nav-toggle {
  font-size: 1.6rem;
  z-index: 2;
  position: absolute;
  left: 20px;
  top: 23px;
  transition: all 0.5s;
}

nav .sidebar-nav-toggle.btn:focus {
  box-shadow: none;
}

nav .sidebar-nav-container {
  z-index: 1;
  position: absolute;
  width: 0;
  overflow-y: hidden;
  background: #fbaf2a;
  opacity: 0;
  display: flex;
  padding-top: 5rem;
  top: 0;
  transition: all 0.5s;
}

nav .sidebar-nav-items {
  border-top: 1px solid #bd8320;
  display: flex;
  width: 100%;
  margin-top: 2rem;
  padding-top: 1rem;
  flex-direction: column;
  overflow: hidden;
}

nav .sidebar-nav-links {
  padding: 0;
  list-style: none;
  width: 300px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  max-height: 190px;
  margin-bottom: 2rem;
}

nav .sidebar-nav-links .fa-chevron-right::before {
  margin-right: 0.5rem;
}

nav .sidebar-nav-links li {
  line-height: 30px;
  transition: all 0.3s;
  padding: 10px;
  text-align: left;
  white-space: nowrap;
  display: block;
  width: 120px;
}

nav .sidebar-nav-links a {
  display: block;
  text-decoration: none;
  color: #000000;
}

nav .sidebar-nav-links a:hover {
  scale: 1.05;
  color: #000000;
}

nav .social-media-wrapper {
  background-color: white;
}

nav .social-media-wrapper p {
  margin-top: 1rem;
}

nav .social-media-wrapper .social-media {
  display: flex;
  transition: all 0.5s;
  padding: 0 2rem;
  justify-content: center;
  margin-bottom: 0;
  padding: 1rem;
}

nav .social-media-wrapper .social-media li {
  list-style: none;
  white-space: nowrap;
  font-size: 0.8rem;
  display: flex;
}

nav .social-media-wrapper .social-media li:hover {
  cursor: pointer;
  scale: 1.1;
}

nav .social-media-wrapper .social-media a {
  color: #000000;
  text-decoration: none;
  margin: 1rem;
  font-size: 1.5rem;
}

.input-group {
  max-width: 85%;
  margin-left: 25px;
  margin-bottom: 2rem;
}

.input-group .fa-search {
  position: absolute;
  right: 10px;
  top: 11px;
  z-index: 4;
}

.icon-container {
  position: relative;
  display: flex;
  font-size: 1.4rem;
  justify-content: end;
}

.icon-container a {
  position: relative;
  z-index: 2;
  color: #000000;
  top: 25px;
}

.icon-container a:hover {
  scale: 1.1;
}

.sidebar-nav-wrapper.show .sidebar-nav-container {
  width: 100%;
  opacity: 1;
  transition: all 0.5s;
}

.img-fluid {
  max-width: 100%;
  height: 370px;
  object-fit: cover;
  object-position: 54%;
  margin-bottom: 2rem;
}

.cow-container {
  flex-direction: column;
}

.cow-container img {
  width: 300px;
}

.cow-container figcaption {
  max-width: 250px;
  text-align: center;
}

.line {
  border-bottom: #bd8320 thin solid;
  width: 35%;
  margin: 3rem auto 0 auto;
}

.filter-btns {
  margin: 2rem auto 0rem auto;
}

.filter-btns input {
  margin: 10px;
  border-radius: 50px;
  padding: 5px 15px;
}

.filter-btns input:focus {
  box-shadow: none;
}

.filter-btns .featured-btn {
  background-color: #fbaf2a;
  border-color: transparent;
  color: #000000;
}

.filter-btns .new-btn {
  background-color: transparent;
  color: #000000;
  border-color: transparent;
}

.featured-products-container {
  margin-top: 1rem;
}

.featured-products-container .card {
  padding: 0;
}

.featured-products-container .card img {
  height: 280px;
  object-fit: cover;
}

.benefits-container {
  margin-bottom: 10rem;
  margin-top: 0rem;
}

@media (min-width: 992px) {
  .benefits-container {
    margin-top: 3rem;
  }
}

@media (min-width: 992px) {
  .benefits-container .benefits_list_container {
    padding-right: 12px;
    margin-top: -52px;
  }
}

.benefits-container h2 {
  width: 218px;
  padding-bottom: 1rem;
  border-bottom: #bd8320 thin solid;
  padding-left: 0;
}

@media (min-width: 576px) {
  .benefits-container h2 {
    margin-left: 1rem;
  }
}

@media (min-width: 992px) {
  .benefits-container h2 {
    margin-left: 0;
    width: 260px;
  }
}

.benefits-container .list-group-flush .list-group-item {
  border-width: 0;
  background-color: transparent;
  align-items: baseline;
  padding-left: 0;
  max-width: 295px;
}

.benefits-container .list-group-flush .list-group-item .fa-check-circle {
  margin-right: 10px;
  color: #82b447;
}

.benefits-container figure {
  max-height: 270px;
  margin: 3rem auto;
}

.benefits-container figure figure:first-child {
  margin-top: 0;
}

@media (min-width: 992px) {
  .benefits-container figure {
    margin-top: 0;
  }
}

.benefits-container figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.benefits-container figure figcaption {
  margin: 1rem auto;
  max-width: 230px;
}

h1,
h2 {
  font-family: "Roboto Slab", serif;
}

footer {
  flex-shrink: 0;
  background-color: #c6d9de;
  height: 100px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */