footer {
  @include flex(row, center, center);
  background-color: getColour(primary);
  height: 100px;
  width: 100%;
  flex-shrink: 0;

  .footer-container {
    @include flex(row, space-between, center);
  }

  ul {
    @include flex(row, center, center);
    flex-wrap: wrap;
    margin: 0;
  }

  .nav-item {
    list-style: none;
  }

  a.nav-link {
    color: getColour(dark);

    &:hover {
      color: getColour(dark);
      scale: 1.05;
    }
  }

  .logo-container-footer {
    position: relative;
    display: flex;

    .logo-footer {
      background-image: url("../../images/logo.svg");
      background-repeat: no-repeat;
      width: 90px;
      height: 36px;
    }
  }
}
