nav {
  background-color: getColour(primary);
  height: 90px;
  z-index: 5;
  position: relative;

  @include for-laptop {
    height: 120px;
  }

  .logo-container {
    position: relative;

    // logo nav - mid mobile

    .logo {
      background-image: url("../../images/logo.svg");
      background-repeat: no-repeat;
      width: 90px;
      height: 36px;
      z-index: 1;
      top: 35px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;

      // logo nav - left on laptop

      @include for-laptop {
        left: 26px;
        right: auto;
        width: 110px;
        height: 42px;
        top: 42px;
      }
    }

    .logo-background {
      background-image: url("../../images/logo_background.svg");
      background-repeat: no-repeat;
      width: 130px;
      height: 132px;
      top: -8px;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;

      @include for-laptop {
        left: auto;
        right: auto;
        width: 140px;
        height: 143px;
        top: 15px;
      }
    }
  }

  .hamburger-container {
    position: relative;

    .sidebar-nav-toggle {
      font-size: 1.6rem;
      z-index: 2;
      position: absolute;
      top: 20px;
      // transition: all 0.5s;
      @include transition(all 0.5s ease);

      &.btn:focus {
        box-shadow: none;
      }
    }
  }
  // finn ut hvorfor jeg har 2 classer her. Mulig jeg kan fjerne hele nav-html?
  .nav-desktop {
    position: relative;
  }
  // Icons top right

  .nav-links-top-right {
    position: relative;
    @include flex(row, end, center);

    ul {
      @include reset-list;
      @include flex(row, center, center);
    }

    a {
      position: relative;
      z-index: 2;
      color: getColour(dark);
      top: 25px;
      padding: 0.5rem 0.5rem;

      i {
        font-size: 1.4rem;
      }

      &:hover {
        scale: 1.1;
        color: getColour(dark);
      }

      @include for-phone {
        padding: 0.5rem 1rem;
      }

      @include for-laptop {
        padding-top: 0.5rem, 1.5rem;
      }
    }

    // Nav desktop search

    .input-group {
      width: 200px;
      margin: 2.5rem 1rem 0 0;
    }
  }
}
