// Sidebar - mobile

.sidebar-nav-container {
  z-index: 1;
  position: absolute;
  width: 0;
  overflow-y: hidden;
  background: getColour(contrast);
  display: flex;
  padding-top: 5rem;
  top: 0;
  @include opacity(0);
  @include transition(all 0.5s ease);
}

.sidebar-nav-items {
  @include border-top(contrast_dark);
  display: flex;
  width: 100%;
  margin-top: 2rem;
  padding-top: 1rem;
  flex-direction: column;
  overflow: hidden;
  height: 430px;

  @include for-laptop {
    height: 370px;
  }
}

.sidebar-nav-links {
  padding: 0;
  list-style: none;
  width: 300px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  max-height: 190px;
  margin-bottom: 2rem;
  margin-top: 2rem;

  .fa-chevron-right::before {
    margin-right: 0.5rem;
  }

  li {
    line-height: 30px;
    transition: all 0.3s;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
    display: block;
    width: 120px;
  }

  .nav-link {
    display: block;
    text-decoration: none;
    color: getColour(dark);
    padding-left: 0;

    &.active {
      color: getColour(activeSidebar);
    }

    &:hover {
      transform: scale(1.05);
      color: getColour(dark);
    }
  }
}

// Social Media Icons

.social-media-wrapper {
  @include flex(row, flex-start, center);
  padding-left: 10px;

  p {
    margin-top: 1rem;
  }

  .social-media {
    @include flex(row, center, center);
    @include transition(all 0.5s ease);
    margin-bottom: 0;
    padding: 1rem;

    li {
      display: flex;
      list-style: none;
      white-space: nowrap;
      font-size: 0.8rem;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }

    a {
      color: getColour(dark);
      text-decoration: none;
      margin: 1rem;
      font-size: 1.5rem;
    }
  }
}

// When visible

.sidebar-nav-wrapper {
  &.show .sidebar-nav-container {
    width: 100%;
    @include opacity(1);
    @include transition(all 0.5s ease);
  }
}
