// @mixin button-border($radius) {
//   border-radius: $radius;
//   border: 3px solid white;
// }

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin for-phone {
  @media (min-width: $mobile-width) {
    @content;
  }
}
@mixin for-tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}
@mixin for-laptop {
  @media (min-width: $laptop-width) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
@mixin for-large-desktop {
  @media (min-width: $desktop-large-width) {
    @content;
  }
}

// Cross browser opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
