// fonts

$font-headings: "Roboto Slab", serif;
$font-primary: "Roboto", sans-serif;

// colours

$colours: (
  dark: black,
  bright: white,
  primary: #c6d9de,
  secondary: #82b447,
  backgroundColor: #efefef,
  activeSidebar: #991955,
  confirmBtn: #db1275,
  confirmHover: #ea2587,
  contrast: #fbaf2a,
  inputColor: #576e82,
  contrast_dark: #bd8320,
  statusSuccess: #cde5c8,
  statusWarning: #f7d3ab,
  statusError: #fbc9b6,
  errorText: #e3531c,
);

// media
$mobile-width: 576px;
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1200px;
$desktop-large-width: 1400px;
