// fonts

$font-headings: "Roboto Slab", serif;
$font-primary: "Roboto", sans-serif;

// colours

$colours: (
  primary: #c6d9de,
  secondary: #82b447,
  backgroundColor: #efefef,
  addToCartBtn: #db1275,
  statusSuccess: #cde5c8,
  statusWarning: #f7d3ab,
  statusError: #fbc9b6,
  contrast: #fbaf2a,
  dark: #000000,
  bright: white,
  inputColor: #576e82,
  borderContrast: #bd8320,
);

// skift navn på borderContrast - brukes flere plasser enn kun border
// statusOk: #cbe7f4,

// media
$mobile-width: 576px;
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1200px;
$desktop-large-width: 1400px;
