* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background-color: getColour(backgroundColor);
  font-family: $font-primary;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.wrapper {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

// feedback
// her må jeg lage en mal og bare endre farge

.error {
  background-color: getColour(statusWarning);
  padding: 10px;
  text-align: center;
  margin: 2rem auto;
  border: getColour(borderContrast) thin solid;
}

.success {
  background-color: getColour(statusSuccess);
  padding: 10px;
  text-align: center;
  margin: 2rem auto;
  // border: getColour(borderContrast) thin solid;
}

// cow on home & login

.cow-container {
  @include flex(column, center, center);
  margin-top: 2rem;

  img {
    width: 300px;
  }

  h1 {
    max-width: 300px;
    text-align: center;
    font-size: 1.5rem;
  }
}

// husk å lag loadingbar
// active in nav
// hover (!)

// product layout

// denne kan gjøres på base.
// så kan jeg bruke samme classes på fav og products osv

.products-wrapper {
  @include flex(row, center, center);
  margin-top: 1rem;

  a {
    text-decoration: none;
    color: getColour(dark);
    // box-shadow: rgb(219, 219, 219) 2px 1px 5px 2px;
  }

  .product-info {
    @include flex(column, space-between, center);
    margin-top: 1rem;
    text-align: center;
  }

  .col {
    position: relative;

    &:hover {
      scale: 1.01;
    }
  }

  .favorite-heart,
  .fa-edit {
    position: absolute;
    z-index: 1;
    font-size: 1.2rem;

    @include for-laptop {
      font-size: 1.4rem;
    }
  }

  .favorite-heart {
    right: 13%;
    top: 3%;

    @include for-laptop {
      right: 10%;
    }
  }

  .fa-edit {
    left: 13%;
    top: 3%;

    @include for-laptop {
      left: 10%;
    }
  }

  .card {
    padding: 0;
    position: relative;

    &-text {
      margin-bottom: 10px;
    }

    &-price {
      font-weight: 600;
    }

    &-title {
      font-size: 1.3rem;

      span {
        font-weight: 600;
        font-size: 1.8rem;
        display: block;
      }
    }

    // denne er ny etter create-html

    img {
      height: 320px;
      object-fit: cover;
      object-position: 57%;
    }
  }
}

.no-results {
  border: #737e7c dashed 2px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  min-height: 300px;
  margin-bottom: 3rem;
}

.fa-sign-out-alt {
  cursor: pointer;
}

#loading-img {
  background-color: #dee1e3;
}

.loading-col {
  min-width: 120px;

  @include for-laptop {
    width: 233px;
  }
}

.load-box {
  height: 100px;
  width: 100px;
  background-color: #dee1e3;
}

.loadspan {
  background-color: #b3bcc0;
}
