* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background-color: getColour(backgroundColor);
  font-family: $font-primary;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.wrapper {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

// feedback
// her må jeg lage en mal og bare endre farge

.error {
  background-color: getColour(statusWarning);
  padding: 10px;
  text-align: center;
  margin: 2rem auto;
  border: getColour(contrast_dark) thin solid;
}

.success {
  background-color: getColour(statusSuccess);
  padding: 10px;
  text-align: center;
  margin: 2rem auto;
}

// cow on home & login

.cow-container {
  @include flex(column, center, center);
  margin-top: 2rem;

  img {
    width: 300px;
  }

  h1 {
    max-width: 300px;
    text-align: center;
    font-size: 1.5rem;
  }
}

// denne kan gjøres på base.
// så kan jeg bruke samme classes på fav og products osv

.products-wrapper {
  @include flex(row, flex-start, center);
  margin-top: 1rem;

  a {
    text-decoration: none;
    color: getColour(dark);
    // box-shadow: rgb(219, 219, 219) 2px 1px 5px 2px;
  }

  .product-info {
    @include flex(column, space-between, center);
    margin-top: 1rem;
    text-align: center;
  }

  .col {
    position: relative;
    padding: 1rem;

    &:hover {
      // box-shadow: rgb(219, 219, 219) 2px 1px 5px 6px;
      box-shadow: #dbdbdb 0px 2px 10px 2px;
      transform: scale(1.01);
    }
  }

  .favorite-heart,
  .fa-edit {
    position: absolute;
    z-index: 1;
    font-size: 1.2rem;
    padding: 15px;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  .favorite-heart {
    right: 8%;
    top: 4%;

    @include for-laptop {
      right: 10%;
      font-size: 1.4rem;
    }
  }

  .fa-edit {
    display: none;

    @include for-tablet {
      display: block;
      bottom: 24%;
      right: 0%;
    }

    &:hover {
      color: getColour(contrast_dark);
    }
  }

  .card {
    padding: 0;
    position: relative;

    &-text {
      margin-bottom: 10px;
    }

    &-price {
      font-weight: 600;
    }

    &-title {
      font-size: 1.3rem;

      span {
        font-weight: 600;
        font-size: 1.8rem;
        display: block;
      }
    }

    // denne er ny etter create-html

    img {
      height: 320px;
      object-fit: cover;
      object-position: 57%;
    }
  }
}

.no-results {
  border: #737e7c dashed 2px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 300px;
  margin: 1.5rem auto 1.5rem auto;
}

.fa-sign-out-alt {
  cursor: pointer;
}

#loading-img {
  background-color: #dee1e3;
  color: #dee1e3;
}

.loading-col {
  min-width: 180px;

  @include for-laptop {
    width: 233px;
  }
}

.load-box {
  height: 100px;
  width: 100px;
  background-color: #dee1e3;
}

.loadspan {
  background-color: #b3bcc0;
}

// quantity buttons

.number {
  display: flex;
  height: 43px;

  &:hover {
    transform: scale(1.05);
  }

  .minus,
  .plus {
    padding: 10px 15px;
    cursor: pointer;
    background-color: getColour(bright);
    line-height: 1.5;

    &:hover {
      transform: scale(1.02);
    }

    .minus {
      border-radius: 0.25rem 0 0 0.25rem;
    }

    .plus {
      border-radius: 0 0.25rem 0.25rem 0;
    }
  }

  .input-quantity {
    width: 50px;
    text-align: center;
    border: none;
    &:disabled {
      background-color: getColour(bright);
    }
  }
}

// loader

.loader-background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: getColour(backgroundColor);
}

.show-spinner {
  display: block;
  height: 300px;
  position: relative;
}

.spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: 50%;
  border-radius: 50%;

  @include for-desktop {
    top: 80%;
  }
}

.spinner.pulse::after {
  background-color: getColour(contrast_dark);
  animation: pulse 1.5s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  30% {
    opacity: 0.5;
  }
  60% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
