nav {
  background-color: getColour(primary);
  height: 90px;

  // logo

  .logo-container {
    position: relative;

    .logo {
      background-image: url("../../images/logo.svg");
      background-repeat: no-repeat;
      width: 90px;
      height: 36px;
      position: absolute;
      z-index: 1;
      right: 0;
      left: 0;
      margin: auto;
      top: 35px;
    }

    .logo-background {
      background-image: url("../../images/logo_background.svg");
      background-repeat: no-repeat;
      width: 130px;
      height: 132px;
      position: absolute;
      top: -8px;
      right: 0;
      left: 0;
      margin: auto;
    }
  }

  // Sidebar

  .sidebar-nav-toggle {
    font-size: 1.6rem;
    z-index: 2;
    position: absolute;
    left: 20px;
    top: 23px;
    transition: all 0.5s;

    &.btn:focus {
      box-shadow: none;
    }
  }

  .sidebar-nav-container {
    z-index: 1;
    position: absolute;
    width: 0;
    overflow-y: hidden;
    background: getColour(contrast);
    opacity: 0;
    display: flex;
    padding-top: 5rem;
    top: 0;
    transition: all 0.5s;
  }

  .sidebar-nav-items {
    border-top: 1px solid #bd8320;
    display: flex;
    width: 100%;
    margin-top: 2rem;
    padding-top: 1rem;
    flex-direction: column;
    overflow: hidden;
  }

  .sidebar-nav-links {
    padding: 0;
    list-style: none;
    width: 300px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    max-height: 190px;
    margin-bottom: 2rem;

    .fa-chevron-right::before {
      margin-right: 0.5rem;
    }

    & li {
      line-height: 30px;
      transition: all 0.3s;
      padding: 10px;
      text-align: left;
      white-space: nowrap;
      display: block;
      width: 120px;
    }

    & a {
      display: block;
      text-decoration: none;
      color: black;

      &:hover {
        scale: 1.05;
        color: black;
      }
    }
  }

  // Social Media Icons

  .social-media-wrapper {
    background-color: white;
    @extend .flex-container;

    & p {
      margin-top: 1rem;
    }

    .social-media {
      display: flex;
      transition: all 0.5s;
      padding: 0 2rem;
      justify-content: center;
      margin-bottom: 0;
      padding: 1rem;

      & li {
        list-style: none;
        white-space: nowrap;
        font-size: 0.8rem;
        display: flex;

        &:hover {
          cursor: pointer;
          background-color: white;
          scale: 1.1;
        }
      }

      & a {
        color: black;
        text-decoration: none;
        margin: 1rem;
        font-size: 1.5rem;
      }
    }
  }
}

// Search

.input-group {
  max-width: 85%;
  margin-left: 25px;
  margin-bottom: 2rem;

  .fa-search {
    position: absolute;
    right: 10px;
    top: 11px;
    z-index: 4;
  }
}

// Icons top right

.icon-container {
  position: relative;
  display: flex;
  font-size: 1.4rem;
  justify-content: end;

  & a {
    position: relative;
    z-index: 2;
    color: black;
    top: 25px;

    &:hover {
      color: black;
      scale: 1.1;
    }
  }
}

// When visible

.sidebar-nav-wrapper {
  &.show .sidebar-nav-container {
    width: 100%;
    opacity: 1;
    transition: all 0.5s;
  }
}
