.add-productpage-wrapper {
  .add-product-wrap {
    margin-top: 5rem;
  }

  .header-container {
    margin-bottom: 2rem;
  }

  .add-form {
    margin-bottom: 5rem;
  }

  .add-product-container {
    @include flex(column, center, center);

    @include for-tablet {
      @include flex(row, center, normal);
    }
  }

  .upload-img-wrapper {
    @include flex(column, flex-start, baseline);
    margin-bottom: 2rem;
    max-width: 300px;
    // width: 400px;

    // @include for-laptop {
    //   max-height: 450px;
    // }

    .upload-img-container {
      // margin-top: 36px;
      width: 250px;
      background-color: getColour(inputColor);

      & img {
        height: 355px;
        width: 100%;
        object-fit: cover;
      }
    }

    // .upload-btn-warning-container {
    //   // @include flex(row, space-between, center);
    // }

    .cloudinary-button {
      background-color: #76a9c6;
      padding: 5px 15px;
      box-shadow: none;
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      @include flex(row, center, center);

      &:hover {
        color: white;
        scale: 1.05;
      }

      i {
        font-size: 1.2rem;
        margin-right: 8px;
      }
    }
  }

  .input-error {
    @include flex(row, start, baseline);

    i {
      margin-left: 10px;
    }
  }

  .error-displayed {
    background-color: getColour(statusWarning);
    margin: 15px 0;
    width: 100%;
    font-size: 0.9rem;
    padding: 10px 15px;
    font-style: italic;
    justify-content: space-between;
  }

  .input-group {
    max-width: 100%;
    margin-bottom: 2rem;

    // title

    .milky-input {
      @include flex(column, center, flex-start);
      width: 100%;
      position: relative;

      .title {
        padding-left: 90px;
        font-family: $font-headings;
        font-weight: 700;
        margin-right: 0;
        font-kerning: none;
      }

      input {
        margin-left: 0;
        width: 100%;
      }

      &__content {
        @include flex(row, center, center);
        position: absolute;
        left: 10px;
        top: 41px;

        span {
          font-family: $font-headings;
          position: absolute;
          width: 75px;
          left: 0;
          top: -34px;

          & .fa-chevron-right {
            font-size: 0.7rem;
            padding-left: 10px;
          }
        }
      }
    }

    label {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

    // Price & Volum
    .price-volume-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: start;

      @include for-tablet {
        width: 100%;
        height: 40px;
        flex-wrap: nowrap;
        margin-bottom: 4rem;
      }

      .volume,
      .price {
        max-width: 100%;
        width: 100%;
      }

      .select-volume {
        width: 100%;
      }

      .price-container {
        width: 100%;

        @include for-tablet {
          margin-right: 10px;
        }
      }
    }

    // description

    .description-inputs {
      width: 100%;
      max-width: 100%;
      // border: red solid thin;
      @include for-desktop {
        @include flex(row, space-between, center);
        margin-top: 3rem;
      }
    }
  }

  .featured-container {
    @include flex(row, start, center);
    margin-top: 2rem;

    .label-featured {
      margin: 0;
    }

    .featured {
      margin: 0 10px 0 0;
      width: 20px;
      height: 20px;
    }
  }

  .image-container {
    display: none;
  }

  .add-btn {
    margin-top: 1rem;
  }
}
// .input-group {
//   align-items: flex-start;
//   max-width: 400px;

//   .description {
//     width: 100%;
//     margin-right: 0;
//   }

//   .label {
//     font-style: italic;
//     margin-top: 1rem;
//   }

//   .description-inputs {
//     width: 100%;
//   }

//     .price-volume-wrap {
//       @include flex(row, center, center);

//       input {
//         margin-left: 0;
//         margin-right: 10px;
//       }

//       select {
//         margin-top: 2rem;
//         // line-height: 1.6;
//         // font-weight: 400;
//       }

//       // option {
//       //   font-weight: 400;
//       // }
//     }
//   }

//   // select {
//   //   margin-top: 1rem;
//   // }

//   .featured,
//   .price,
//   .title,
//   .description,
//   .volume,
//   .description-details,
//   .nutrition {
//     margin: 10px;
//     margin-bottom: 1rem;
//   }

//   .image-container {
//     display: none;
//   }

//   .milky-title {
//     @include flex(row, center, center);
//     width: 100%;

//     input {
//       margin-left: 0;
//       width: 100%;
//     }

//     &__content {
//       @include flex(row, center, center);
//       position: absolute;
//       left: 10px;
//       top: 41px;

//       span {
//         font-family: $font-headings;
//         margin-right: 10px;

//         & .fa-chevron-right {
//           font-size: 0.7rem;
//           padding-left: 10px;
//         }
//       }
//     }
//   }

//   .title {
//     padding-left: 90px;
//     font-family: $font-headings;
//     font-weight: 700;
//     margin-right: 0;
//   }

//   .featured-container {
//     @include flex(row, center, center);

//     & input {
//       margin-left: 0;
//       height: 25px;
//       width: 25px;
//     }
//   }

//   form {
//     margin-bottom: 4rem;
//   }

//   .btn-primary {
//     background-color: getColour(secondary);
//     &:hover {
//       // fill in something
//     }
//   }

//   .description-inputs {
//     @include flex(column, center, flex-start);

//     & textarea {
//       margin-left: 0;
//     }
//   }
// }
