// vurder en annen type loading også

.cartpage-wrapper {
  .favorite-heart,
  .fa-edit {
    display: none;
  }

  .header-container {
    padding-top: 2rem;
    padding-bottom: 2rem;

    h1 {
      margin: 4rem 0 1rem 0;
    }

    .count-products {
      @include border-bottom(dark);
      padding-bottom: 3rem;
    }
  }

  .quantity {
    position: absolute;
    left: 35%;
    bottom: 14%;
    height: 90px;
    @include flex(column, space-between, start);

    @include for-tablet {
      left: 31%;
    }
  }

  .products-wrapper {
    @include flex(row, center, center);
  }

  .product-container {
    margin-top: -4rem;
  }

  .row {
    @include flex(column, start, center);
  }

  .col {
    padding: 0;
    padding-bottom: 2rem;

    &:hover {
      box-shadow: none;
      @include border-bottom(dark);
    }
  }

  .card {
    background-color: transparent;
    width: 40%;

    &-title {
      max-width: 100%;
    }

    img {
      width: 100%;
      height: 200px;
    }

    &-text {
      display: none;
    }

    &-price {
      background-color: transparent;
      padding: 0;
    }
  }

  .product-info {
    width: 100%;
    text-align: left;
    margin-left: 1.2rem;
    flex-direction: row;
  }

  .product-link {
    @include flex(row, flex-start, start);
  }

  .subtotal {
    @include flex(row, space-between, center);
    @include border-top(dark);
    flex-wrap: wrap;
    padding-top: 2rem;

    // buttons er flere plasser her i fila

    .buttons {
      width: 100%;
      margin-bottom: 4rem;
    }

    p {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }

  // FIKS KNAPPENE OVERALT

  .btn-primary {
    background-color: getColour(confirmBtn);
    padding: 0.6rem 0.75rem;
    width: 100%;
    max-width: 100%;
    margin: 1rem 0;
  }

  .btn-secondary {
    padding: 0.6rem 0.75rem;
    width: 100%;
    max-width: 100%;
  }

  .remove {
    font-style: italic;
    cursor: pointer;
    color: getColour(contrast_dark);
    padding: 0.5rem 2rem 0 0;

    &:hover {
      transform: scale(1.05);
    }

    @include for-laptop {
      padding: 10px 25px;

      &:hover {
        transform: scale(1.05);
        background-color: rgba(255, 255, 255, 0.62);
      }
    }
  }

  .row {
    width: 100%;
  }

  // This is laptop-changes:

  @include for-laptop {
    .product-link {
      align-items: center;
    }

    .quantity {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      left: 49%;
      bottom: 28%;
      width: 30%;

      .number {
        order: 2;
      }
    }

    .col {
      border-bottom: none;
    }

    .card {
      max-width: 150px;
    }

    .subtotal {
      margin-bottom: 4rem;
    }

    .buttons {
      @include flex(row, flex-end, center);

      .btn-primary,
      .btn-secondary {
        width: 200px;
        margin: 1rem;
        margin-top: 3rem;
      }

      .btn-primary {
        order: 2;
        margin-right: 0;

        &:hover {
          background-color: getColour(confirmHover);
        }
      }
    }

    .wrap-content,
    .header-container {
      max-width: 1000px;
    }
  }

  .load-cart {
    padding-bottom: 2rem;
  }
}
