.detailpage-wrapper {
  position: relative;

  .loader-background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: getColour(backgroundColor);
  }

  .show-spinner {
    display: block;
    height: 300px;
    position: relative;
  }

  .spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 50%;
    border-radius: 50%;

    @include for-desktop {
      top: 80%;
    }
  }

  .spinner.pulse::after {
    background-color: getColour(borderContrast);
    animation: pulse 1.5s ease-out infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    30% {
      opacity: 0.5;
    }
    60% {
      transform: scale(1.2);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .image-bread-container {
    margin-top: 4rem;

    a {
      text-decoration: none;
      color: black;
    }

    .active {
      color: getColour(borderContrast);
    }

    @include for-tablet {
      margin-bottom: 1.5rem;
    }
  }

  .content-wrap {
    padding: 0;

    @include for-tablet {
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
      margin-bottom: 5rem;
      @include flex(row, center, start);
    }
  }

  .image-container {
    position: relative;

    & .favorite-icon {
      position: absolute;
      right: 5%;
      top: 5%;
      font-size: 1.4rem;
    }
  }

  .text-content-container {
    position: relative;

    .title-container {
      position: relative;
      border-bottom: black solid thin;
      padding-bottom: 1rem;
      margin: 2rem 0;

      @include for-tablet {
        margin-top: 0;
      }

      .title {
        font-size: 1.6rem;

        span {
          font-weight: 600;
          font-size: 2.3rem;
          display: block;
        }
      }
      // fa-edit og hjerte har samme css
      .fa-edit {
        position: absolute;
        right: 5%;
        top: 5%;
        font-size: 1.4rem;
        color: black;
      }
    }

    .buy-container {
      @include flex(column, space-between, center);

      margin-bottom: 2rem;
      border-bottom: black solid thin;
      padding-bottom: 2rem;

      @include for-desktop {
        flex-direction: row;
      }

      .price-quantity-container {
        @include flex(row, space-between, center);
        margin-bottom: 2rem;

        @include for-desktop {
          margin-bottom: 0;
          margin-right: 2rem;
        }
      }
    }

    .price {
      font-size: 1.6rem;
      margin: 0;
      color: getColour(secondary);
    }
  }

  .fa-plus {
    margin-right: 15px;
  }

  #addToCart-btn {
    background-color: getColour(addToCartBtn);
    padding: 0.6rem 0.75rem;
    width: 100%;
    max-width: 100%;

    @include for-desktop {
      max-width: 200px;
      // margin: 0 4rem 0 1rem;
    }
  }

  .text-content-wrap {
    margin-bottom: 3rem;
    line-height: 1.5;

    @include for-tablet {
      margin-left: 2rem;
      max-width: 600px;
    }
  }
}
