.detailpage-wrapper {
  position: relative;

  .image-bread-container {
    margin-top: 4rem;

    a {
      text-decoration: none;
      color: getColour(dark);
    }

    .active {
      color: getColour(contrast_dark);
    }

    @include for-tablet {
      margin-bottom: 1.5rem;
    }
  }

  .content-wrap {
    padding: 0;

    @include for-tablet {
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
      margin-bottom: 5rem;
      @include flex(row, center, start);
    }
  }

  .image-container {
    position: relative;

    img {
      min-height: 400px;
      object-fit: cover;
    }
  }

  .fa-edit,
  .favorite-icon {
    padding: 15px;
    position: absolute;
    right: 3%;
    top: -15%;
    font-size: 1.4rem;
    cursor: pointer;
    color: getColour(dark);

    &:hover {
      transform: scale(1.05);
    }

    @include for-tablet {
      top: 3%;
    }
  }

  .text-content-container {
    position: relative;

    .title-container {
      @include border-bottom(dark);
      position: relative;
      padding-bottom: 1rem;
      margin: 2rem 0;

      @include for-tablet {
        margin-top: 0;
      }

      .title {
        font-size: 1.6rem;

        span {
          font-weight: 600;
          font-size: 2.3rem;
          display: block;
        }
      }
    }

    .buy-container {
      @include flex(column, space-between, center);
      @include border-bottom(dark);
      margin-bottom: 2rem;
      padding-bottom: 2rem;

      @include for-desktop {
        flex-direction: row;
      }

      .price-quantity-container {
        @include flex(row, space-between, center);
        margin-bottom: 2rem;

        @include for-tablet {
          padding: 0;
        }

        @include for-desktop {
          margin-bottom: 0;
          margin-right: 2rem;
        }
      }
    }

    .price {
      font-size: 1.6rem;
      margin: 0;
      color: getColour(contrast_dark);
    }
  }

  h2 {
    font-size: 1.6rem;
    margin-top: 2rem;
  }

  #addToCart-btn {
    background-color: getColour(confirmBtn);
    width: 100%;
    max-width: 100%;

    .fa-plus {
      margin-right: 15px;
    }

    &:hover {
      background-color: getColour(confirmHover);
    }

    @include for-desktop {
      max-width: 200px;
    }
  }

  .text-content-wrap {
    margin-bottom: 3rem;
    line-height: 1.5;

    @include for-tablet {
      margin-left: 2rem;
      max-width: 600px;
    }
  }
}
