.editpage-wrapper {
  .edit-product-wrap {
    margin-top: 5rem;

    @include for-laptop {
      max-width: 900px;
    }
  }

  .header-container {
    margin-bottom: 3rem;
    text-align: center;

    @include for-laptop {
      text-align: left;
      margin-left: 10px;
      margin-bottom: 4rem;
    }
  }

  .edit-form {
    margin-bottom: 4rem;
  }

  .edit-product-container {
    @include flex(column, center, center);

    @include for-tablet {
      @include flex(row, center, normal);
    }
  }

  .upload-img-wrapper {
    @include flex(column, flex-start, center);
    margin-bottom: 2rem;
    max-width: 300px;
    // width: 400px;

    @include for-tablet {
      margin-top: 1.2rem;
    }

    .upload-img-container {
      width: 250px;
      background-color: getColour(inputColor);

      & img {
        height: 355px;
        width: 100%;
        object-fit: cover;
      }
    }

    .upload-btn-warning-container {
      display: flex;
      flex-direction: column;
    }

    .cloudinary-button {
      background-color: #76a9c6;
      padding: 5px 15px;
      box-shadow: none;
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      @include flex(row, center, center);

      &:hover {
        color: white;
        scale: 1.05;
      }

      i {
        font-size: 1.2rem;
        margin-right: 8px;
      }
    }
  }

  .input-error {
    @include flex(row, start, baseline);

    i {
      margin-left: 10px;
    }
  }

  .error-displayed {
    background-color: getColour(statusWarning);
    margin: 15px 0;
    width: 100%;
    font-size: 0.9rem;
    padding: 10px 15px;
    font-style: italic;
    justify-content: space-between;
  }

  .input-group {
    max-width: 100%;
    margin-bottom: 2rem;

    // title

    .milky-input {
      @include flex(column, center, flex-start);
      width: 100%;
      position: relative;

      .title {
        padding-left: 90px;
        font-family: $font-headings;
        font-weight: 700;
        margin-right: 0;
        font-kerning: none;
      }

      input {
        margin-left: 0;
        width: 100%;
      }

      &__content {
        @include flex(row, center, center);
        position: absolute;
        left: 10px;
        top: 41px;

        span {
          font-family: $font-headings;
          position: absolute;
          width: 75px;
          left: 0;
          top: -34px;

          & .fa-chevron-right {
            font-size: 0.7rem;
            padding-left: 10px;
          }
        }
      }
    }

    label {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

    // Price & Volum
    .price-volume-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      width: 100%;

      @include for-tablet {
        flex-wrap: nowrap;
      }

      .volume,
      .price {
        max-width: 100%;
        width: 100%;
      }

      .select-volume {
        width: 100%;
      }

      .price-container {
        width: 100%;

        @include for-tablet {
          margin-right: 10px;
        }
      }
    }

    // description

    .description-inputs {
      width: 100%;
      max-width: 100%;
    }
  }

  .featured-container {
    @include flex(row, start, center);
    margin-top: 2rem;

    .label-featured {
      margin: 0;
    }

    .featured {
      margin: 0 10px 0 0;
      width: 20px;
      height: 20px;
    }
  }

  .image-container {
    display: none;
  }

  .edit-btn {
    margin-top: 1rem;
  }

  // annerledes enn add-scss

  .featured-container {
    width: 100%;
  }

  .button-container {
    @include flex(row, center, center);
    margin: 3rem 0 0 0;

    @include for-laptop {
    }

    button {
      padding-right: 25px;

      &:first-child {
        margin-right: 2rem;
      }

      i {
        margin: auto 10px auto auto;
      }
    }
  }

  .message-container {
    width: 100%;

    .success {
      margin: 3rem auto -0.5rem auto;
    }
  }
}
