.editpage-wrapper {
  .featured-container {
    width: 100%;
  }

  .button-container {
    @include flex(row, center, center);
    margin: 3rem 0 0 0;

    button {
      padding-right: 25px;

      &:first-child {
        margin-right: 2rem;
      }

      i {
        margin: auto 10px auto auto;
      }
    }
  }

  .message-container {
    width: 100%;

    .success {
      margin: 3rem auto -0.5rem auto;
    }
  }
}
