.favorites-page-wrapper {
  .header-container {
    margin-top: 3rem;
    text-align: center;
    @include flex(row, space-between, center);
  }
  // .card {
  //   max-width: 208px;
  // }

  .clear {
    font-size: 0.8rem;
  }

  .col {
    max-width: 190px;

    @include for-tablet {
      max-width: unset;
    }
  }
}
