.login {
  .login-form {
    margin-bottom: 5rem;
    max-width: 400px;
  }

  .cow-container {
    margin-top: 3rem;
  }

  .btn-primary {
    width: 100%;
    max-width: 100%;
  }

  .wrap-warning {
    @include flex(row, space-between, center);
    margin-top: 1rem;
    position: relative;
    font-style: italic;

    p {
      padding: 2px;
      line-height: 1.3;
      color: getColour(errorColor);
    }

    i {
      position: absolute;
      right: 1rem;
      top: -2.6rem;
    }

    .fa-check-circle {
      color: getColour(statusSuccess);
    }

    .fa-exclamation-circle {
      color: getColour(statusError);
    }
  }
}
