.product-page-wrapper {
  margin-bottom: 5rem;

  .header-container {
    margin-top: 4rem;
  }

  .hero-banner-container {
    background-color: #c8dae7;
    height: 350px;
    text-align: center;
    // background-color: #5187a9;

    // .hero-banner {
    //   max-width: 100%;
    //   height: 450px;
    //   object-fit: cover;
    //   object-position: 50%;
    //   position: relative;
    // }

    @include for-desktop {
      height: 400px;
    }

    img {
      height: 100%;
      object-fit: cover;
      object-position: 53%;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 3rem;

    @include for-desktop {
      text-align: left;
    }
  }

  .search-featured {
    @include flex(column, center, center);

    @include for-desktop {
      flex-direction: row;
      justify-content: space-between;

      .search-products {
        order: 2;
        max-width: 300px;
      }
    }
  }

  .search-products {
    margin-bottom: 0;

    @include for-laptop {
      margin-bottom: 2rem;
    }

    @include for-desktop {
      margin-bottom: 0;
    }
  }

  .fa-search {
    position: absolute;
    right: 10px;
    top: 11px;
    z-index: 4;
  }

  // kopiert fra home.scss
  // lag den global

  .filter-btns {
    @include flex(row, center, center);
    margin: 2rem auto 0rem auto;

    input {
      margin: 10px;
      border-radius: 50px;
      padding: 5px 15px;
      color: getColour(dark);

      &:focus,
      &:hover {
        box-shadow: none;
        color: getColour(dark);
      }
    }

    .filter-btn {
      @include opacity(0.7);
      background-color: transparent;
      border-color: transparent;
    }

    .active-filter {
      background-color: getColour(contrast);
      border-color: transparent;
      font-weight: 600;
    }

    @include for-laptop {
      justify-content: start;
      margin: unset;
    }
  }
}
