.product-page-wrapper {
  margin-bottom: 5rem;

  .header-container {
    margin-top: 4rem;
  }

  .hero-banner-container {
    background-color: #c8dae7;
    height: 350px;
    text-align: center;

    @include for-desktop {
      height: 400px;
    }

    img {
      height: 100%;
      object-fit: cover;
      object-position: 55%;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 3rem;

    @include for-desktop {
      text-align: left;
    }
  }

  .search-featured {
    @include flex(column, center, center);

    @include for-desktop {
      flex-direction: row;
      justify-content: space-between;

      .search-products {
        order: 2;
        max-width: 300px;
      }
    }
  }

  .search-products {
    margin-bottom: 0;

    @include for-laptop {
      margin-bottom: 2rem;
    }

    @include for-desktop {
      margin-bottom: 0;
    }
  }

  .fa-search {
    position: absolute;
    right: 10px;
    top: 11px;
    z-index: 4;
  }
}
